trigger:
- main

pool:
  vmImage: ubuntu-latest

jobs:
- job: FrontendBuild
  displayName: 'Build Frontend'
  steps:
  - checkout: self
    path: frontend

  - task: NodeTool@0
    inputs:
      versionSpec: '18.x'
    displayName: 'Install Node.js'

  - script: |
      cd frontend
      npm install
      npm run build
    displayName: 'npm install and build'
