.App {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: flex-start;
  align-items: center;
}

.input-container {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
  margin-left: 5rem;
  margin-right: 5rem;
}

.hidden {
  display: none;
}

.regenerate-start-container {
  display: flex;
}