.App {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-container {
  margin-left: 4rem;
  margin-right: 4rem;
  display: flex;
  height: 100%;
  width: 100%;
  /* justify-content: space-evenly */
}

.input-container {
  margin-left: 4rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.regenerate-start-container {
  display: flex;
}