.App {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-container {
  display: flex;
  outline: 1px solid red;
  width: 100%;
  justify-content: flex-start;
}

.input-container {
  color: white;
  display: flex;
  flex-direction: column;
  /* margin: 10rem; */
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
  margin-left: 5rem;
  margin-right: 5rem;
}

.hidden {
  display: none;
}

.regenerate-start-container {
  display: flex;
}