.logo {
    margin: 1rem;
    width: 700px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
}

.logo-image {
    width: 600px;
    height: 600px;
}