.logo {
  margin: 2rem;
  /* width: 700px;
    height: 700px; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
}


@media (min-width: 1240px) {
  .logo {
    width: 600px;
    height: 600px;
  }
  .logo-image {
    width: 600px;
    height: 600px;
  }
}

@media (min-width: 1024px) and (max-width: 1240px) {
  .logo {
    width: 500px;
    height: 500px;
  }
  .logo-image {
    width: 500px;
    height: 500px;
  }
}

@media (min-width: 480px) and (max-width: 1024px) {
  .logo {
    width: 400px;
    height: 400px;
  }
  .logo-image {
    width: 400px;
    height: 400px;
  }
}

@media (min-width: 320px) and (max-width:480px) {
  .logo {
    width: 300px;
    height: 300px;
  }
  .logo-image {
    width: 300px;
    height: 300px;
  }
}


@media (max-width: 320px) {
  .logo {
    width: 250px;
    height: 250px;
  }
  .logo-image {
    width: 250px;
    height: 250px;
  }
} 
/* .logo-image {
    width: 600px;
    height: 600px;
} */
