.maze-container {
    margin: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;   
  }
  .row {
    display: flex;
  }
  
  .cell {
    background-color: #fff;
  }
  

  .start {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .hidden {
    display: hidden;
  }

  .absolute-position {
    position: absolute; 
    z-index: 999;
  }

  .visited-cell {
    background-color: #e3940b;
    border: 5px solid black;
  }

  .wall {
    background-color: inherit;
  }
  
  .path {
    outline: 1px solid gray;
    background-color: white;
  }
  
  .img-spongebob {
    outline: 1px solid red;
    position: absolute;
    z-index: 999;
  }

  .blur {
    filter: blur(10px);
  }
  
  .end {
    outline: 2px solid green;
    background-color: #66bb6a;
  }

  .rounded-top-right {
    border-radius: 0 12px 0 0;
  }

  .rounded-top-left {
    border-radius: 12px 0 0 0;
  }

  .rounded-bottom-right {
    border-radius: 0 0 12px 0
  }

  .rounded-bottom-left {
    border-radius: 0 0 0 12px
  }