.maze-container {
    margin: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .row {
    display: flex;
  }
  
  .cell {
    outline: 1px solid gray;
    background-color: #fff;
  }
  
  .start {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .hidden {
    display: hidden;
  }

  .absolute-position {
    position: absolute; /* Position the element absolutely */
    top: 50%; /* Move the element down by 50% of parent's height */
    left: 50%; /* Move the element horizontally by 50% of parent's width */
    transform: translate(-430%, -25%); /* Adjust to center the element */
    width: 100px;
    height: 100px;
    z-index: 999;
  }

  .wall {
    background-color: black;
  }
  
  .path {
    background-color: white;
  }
  
  .img-spongebob {
    outline: 1px solid red;
    position: absolute;
    z-index: 999;
  }

  .blur {
    filter: blur(2px);
  }
  