.App {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  
}

.app-container {
  display: flex;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin: 10rem;
}

.maze-container {
  margin: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
}

.cell {
  outline: 1px solid gray;
  background-color: #fff;
}

.start {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wall {
  background-color: black;
}

.path {
  background-color: white;
}

.img-spongebob {
  outline: 1px solid red;
  position: absolute;
  z-index: 999;
}
