body {
  overflow-x: hidden;
  margin: 0;
  font-family: 'Titillium Web', Exo, Orbitron, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}

html{
  background: linear-gradient(to right top, #e30b5a, #a61849, #6d1a35, #38141f, #000000);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
